---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$max-width: 2560px;

$right-sidebar-width-narrow: 175px;
$right-sidebar-width: 250px;
$right-sidebar-width-wide: 325px;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  font-size: 15px;

  @include breakpoint($small) {
    font-size: 15px;
  }

  @include breakpoint($medium) {
    font-size: 16px;
  }

  @include breakpoint($medium-wide) {
    font-size: 18px;
  }

  @include breakpoint($large) {
    font-size: 20px;
  }

  @include breakpoint($x-large) {
    font-size: 24px;
  }
  
  .author__avatar {
    width: 72px;
    height: 72px;
  
    @include breakpoint($large) {
      display: block;
      width: auto;
      height: auto;
    }
    
    img {
      max-width: 200px;
    }
  }
  
  .btn--top {
    margin-top: 0.5em;
  }
  
  .btn--spacing {
    margin-right: 1em;
  }

  .btn--inverse {
    display: none;
  }
}
